.ns_body {
	font-family: $roboto;
}
.ns_employee_avatar img {
	width: 392px;
	height: 392px;
	object-fit: cover;
}
.ns_about {
	display: flex;
	justify-content: space-between;
	p {
		font-size: 18px;
		line-height: 26px;
		color: $black;
	}
	
}
.ns_employee__name {
	font-size: 22px;
	line-height: 112.69%;
	color: $black;
	margin-bottom: 0;
	margin-top: 0;
}
.ns_employee__position {
	line-height: 20px;
	margin: 0;
}
.ns_employee__data {
	p {
		margin-bottom: 0;
	}
	p:last-child {
		margin-top: 0;
		margin-bottom: 18px;
	}
}
.ns_about__text {
	p, ul {
		max-width: 661px;
	}
	.ns_notion, .ns_notion p{
		max-width: 435px;
	}

}


.ns_employee__info {
	align-items:center;
	display: flex;
	margin-top: 40px;

	&::before{
		margin-right: 10px;
		content: '';
		display: flex;
		width: 5px;
		height: 70px;
		background: $blue;
		border-radius: 10px;
	}
}

